@charset "UTF-8";
.Post {
  max-width: 1140px;
  min-height: 80vh;
  margin: 3rem auto;
  display: flex;
  gap: 45px;
  justify-content: space-between; }

/*----------------------МЕДИА ЗАПРСЫ----------------------- */
